.interview-admin-portlet .playback-controls {
	background-color: #000000;
	border-radius: 5px;
	overflow: hidden;
	width: 132px;
}

.interview-admin-portlet .playback-controls button {
	border: none;
	display: block;
	float: left;
	height: 18px;
	margin: 2px;
	width: 18px;
}

.interview-admin-portlet .playback-controls .pause {
	background: url(../images/pause.png);
}

.interview-admin-portlet .playback-controls .play-x1 {
	background: url(../images/play.png);
}

.interview-admin-portlet .playback-controls .play-x2 {
	background: url(../images/play2.png);
}

.interview-admin-portlet .playback-controls .play-x4 {
	background: url(../images/play3.png);
}

.interview-admin-portlet .playback-controls .rewind {
	background: url(../images/stop.png);
}

.interview-admin-portlet .playback-controls .step {
	background: url(../images/bug.png);
}

.interview-admin-portlet .response-question input[type="input"] {
	width: 90%;
}

.interview-admin-portlet .response-question textarea {
	height: 20em;
	width: 90%;
}